.piano__key-black {
  z-index: 998;
  color: #fff;
  position: absolute;
  text-align: center;
  width: 3.2rem;
  height: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
  background: #343a40;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.4), inset -0.4rem -0.4rem 0.8rem rgb(0, 0, 0), inset 0.4rem -0.4rem 0.8rem rgb(0, 0, 0);
          box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.4), inset -0.4rem -0.4rem 0.8rem rgb(0, 0, 0), inset 0.4rem -0.4rem 0.8rem rgb(0, 0, 0);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #212529;
}

/* aboreto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Aboreto";
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/aboreto-v2-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  color: #222;
  font-family: "Aboreto", serif;
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 400;
  font-weight: 600;
}

.piano {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
  width: 100%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.piano__container-overlay {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #091929;
  opacity: 0.5;
  display: none;
  cursor: not-allowed;
}
.piano__container {
  background-color: #212529;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 2px solid #fff;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.6rem;
  overflow: hidden;
  position: relative;
}
.piano__container.blocked .piano__container-overlay {
  display: block;
}
.piano__keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  overflow: hidden;
  width: calc(3 * min(40.6rem + 24px + 0.3rem, 100%));
}
.piano__octave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  position: relative;
  font-size: 2rem;
  width: min(40.6rem + 24px, 33.3333333333%);
}
.piano__key-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 0.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f3f5;
  height: 24rem;
  width: 5.8rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
  -webkit-box-shadow: 0 0.8rem 1.2rem rgba(33, 37, 41, 0.1), inset -0.3rem -0.4rem 0.5rem rgba(33, 37, 41, 0.2), inset 0.3rem -0.4rem 0.5rem rgba(33, 37, 41, 0.2);
          box-shadow: 0 0.8rem 1.2rem rgba(33, 37, 41, 0.1), inset -0.3rem -0.4rem 0.5rem rgba(33, 37, 41, 0.2), inset 0.3rem -0.4rem 0.5rem rgba(33, 37, 41, 0.2);
}
.piano__key-white:hover {
  background-color: rgb(224.4, 224.4, 224.4);
}
.piano__key-white.active {
  background-color: rgb(209.1, 209.1, 209.1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: rotateX(-8deg);
          transform: rotateX(-8deg);
}
.piano__key-black {
  padding-top: 0.2rem;
}
.piano__key-black[data-key^=c] {
  left: calc((100% - 24px) / 7 + 2px - 0.1 * (100% - 24px) / 7 * 0.55);
}
.piano__key-black[data-key^=d] {
  left: calc((100% - 24px) / 7 * 2 + 4px + 2px + 0.1 * (100% - 24px) / 7 * 0.55);
}
.piano__key-black[data-key^=f] {
  left: calc((100% - 24px) / 7 * 4 + 2px + 12px - 0.18 * (100% - 24px) / 7 * 0.56);
}
.piano__key-black[data-key^=g] {
  left: calc((100% - 24px) / 7 * 5 + 2px + 16px);
}
.piano__key-black[data-key^=a] {
  left: calc((100% - 24px) / 7 * 6 + 2px + 20px + 0.18 * (100% - 24px) / 7 * 0.56);
}
.piano__key-black:hover {
  background-color: rgb(56.1238938053, 60.4, 64.6761061947);
}
.piano__key-black.active {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  background-color: rgb(46.6460176991, 50.2, 53.7539823009);
  -webkit-transform: rotateX(-12deg) translateX(-50%);
          transform: rotateX(-12deg) translateX(-50%);
}

.piano__scroller {
  height: 8rem;
  width: 100%;
}
.piano__scroller .piano__keys {
  height: 100%;
  border-top: 2px solid #fff;
  width: 100%;
  position: relative;
}
.piano__scroller .piano__key-name {
  display: none;
}
.piano__scroller .piano__octave {
  height: 100%;
  position: relative;
}
.piano__scroller .piano__octave-overlay {
  content: "";
  z-index: 1000;
  pointer-events: auto;
  position: absolute;
  cursor: -webkit-grab;
  cursor: grab;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(300% + 0.6rem);
  background-color: #091929;
  opacity: 0.2;
}
.piano__scroller .piano__octave-scroller {
  content: "";
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: calc(100% + 0.6rem);
  background-color: #212529;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  opacity: 0.42;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scaleX(3);
          transform: scaleX(3);
}
.piano__scroller .piano__key-white {
  height: 100%;
  width: calc((100% - 24px) / 7);
}
.piano__scroller .piano__key-black {
  width: calc((100% - 24px) / 7 * 0.56);
}

.piano__settings {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #212529;
  border: 2px solid #fff;
  padding-top: 4.6rem;
  padding-bottom: 4.6rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.32);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.32);
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: clamp(0.6rem, 0.6rem + 3rem * (100vw - 250px) / 518px, 3.6rem);
  padding-right: clamp(0.6rem, 0.6rem + 3rem * (100vw - 250px) / 518px, 3.6rem);
  font-family: "Aboreto", sans-serif;
  font-weight: 400;
}
@media (max-width: 625px) {
  .piano__settings {
    gap: 3rem;
  }
}
@media (max-width: 480px) {
  .piano__settings {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.piano__current-key {
  font-size: clamp(1.8rem, 1.8rem + 1.4rem * (100vw - 200px) / 1240px, 3.2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.6rem;
     -moz-column-gap: 1.6rem;
          column-gap: 1.6rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .piano__current-key {
    -webkit-column-gap: clamp(0.2rem, 0.2rem + 1.4rem * (100vw - 250px) / 518px, 1.6rem);
       -moz-column-gap: clamp(0.2rem, 0.2rem + 1.4rem * (100vw - 250px) / 518px, 1.6rem);
            column-gap: clamp(0.2rem, 0.2rem + 1.4rem * (100vw - 250px) / 518px, 1.6rem);
  }
}
.piano__current-key-value-input {
  background-color: transparent;
  border: 2px solid #fff;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 1.2rem;
  display: none;
  font-family: inherit;
  font-size: clamp(1.8rem, 1.8rem + 1.4rem * (100vw - 200px) / 1240px, 3.2rem);
  color: #fff;
  text-align: center;
}
.piano__current-key-value-input:focus {
  outline: none;
}
.piano__current-key-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 480px) {
  .piano__current-key-container {
    margin-left: 9.12px;
  }
}
.piano__current-key-overall-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.piano__current-key-value-error {
  font-size: clamp(1.2rem, 1.2rem + 0.4rem * (100vw - 320px) / 1120px, 1.6rem);
  display: none;
}
.piano__current-key-name {
  font-style: italic;
  margin-right: 1.2rem;
}
.piano__current-key-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.piano__edit-btn {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: clamp(2.4rem, 2.4rem + 0.6rem * (100vw - 320px) / 1120px, 3rem);
  min-width: clamp(2.4rem, 2.4rem + 0.6rem * (100vw - 320px) / 1120px, 3rem);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: url(../../../icons/feather.svg) no-repeat center center;
  background-size: 100%;
}
.piano__edit-btn:hover {
  background: url(../../../icons/feather-active.svg) no-repeat center center;
  background-size: 100%;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.piano__edit-btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.piano__current-key-value-container {
  margin-right: clamp(1.4rem, 1.4rem + 0.8rem * (100vw - 320px) / 1120px, 2.2rem);
  margin-left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.6rem;
     -moz-column-gap: 1.6rem;
          column-gap: 1.6rem;
}
.piano__current-key-value-container.edit .piano__current-key-value-input {
  display: inline-block;
}
@media (max-width: 915px) {
  .piano__current-key-value-container.edit .piano__current-key-value {
    display: none;
  }
}
.piano__combination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  position: relative;
}
@media (max-width: 480px) {
  .piano__combination {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 1.8rem;
  }
}
.piano__input {
  border-radius: 20rem;
  padding: 1.4rem 2.8rem;
  border: none;
  max-width: 32rem;
  width: 100%;
  background-color: #212529;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  font-family: inherit;
  color: #fff;
  font-size: clamp(1.2rem, 1.2rem + 0.8rem * (100vw - 320px) / 1120px, 2rem);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.piano__input:focus {
  outline: none;
}
.piano__input:hover {
  border-color: #ced4da;
}
.piano__play-btn {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: clamp(1.4rem, 1.4rem + 0.8rem * (100vw - 320px) / 1120px, 2.2rem);
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.piano__play-btn:hover {
  color: #ced4da;
}
.piano__show-keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1rem;
  font-size: clamp(1.4rem, 1.4rem + 0.8rem * (100vw - 320px) / 1120px, 2.2rem);
}
@media (max-width: 915px) {
  .piano__show-keys {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 0.9rem;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
@media (max-width: 625px) {
  .piano__show-keys {
    position: absolute;
    top: 1.7rem;
    left: 0;
    padding-left: clamp(0.6rem, 0.6rem + 3rem * (100vw - 250px) / 518px, 3.6rem);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 480px) {
  .piano__show-keys {
    position: static;
    padding-left: 0;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-bottom: 0.8rem;
    margin-left: 9.12px;
  }
}
.piano__show-keys-switcher {
  width: clamp(3.2rem, 3.2rem + 7.7rem * (100vw - 768px) / 672px, 10.9rem);
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.piano__show-keys-switcher:hover::before {
  background-color: #ced4da;
}
@media (max-width: 625px) {
  .piano__show-keys-switcher {
    margin-left: 0.8rem;
  }
}
.piano__show-keys-line {
  width: 100%;
  height: 1.6rem;
  background-color: #fff;
  height: 6px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .piano__show-keys-line {
    height: 4px, 6px, 625px, 768px;
  }
}
.piano__show-keys-text {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  white-space: nowrap;
}
.piano__show-keys-switcher:hover + .piano__show-keys-text {
  color: #ced4da;
}
.piano__show-keys-switcher::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 0;
  height: clamp(1.4rem, 1.4rem + 0.4rem * (100vw - 625px) / 815px, 1.8rem);
  width: clamp(1.4rem, 1.4rem + 0.4rem * (100vw - 625px) / 815px, 1.8rem);
  border-radius: 50%;
  background-color: #e9ecef;
}

.icon {
  height: 3rem;
  width: 3rem;
}

.icon--edit {
  fill: #fff;
}

.wrapper {
  max-width: 144rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.main {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}/*# sourceMappingURL=style.css.map */