/* aboreto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aboreto';
  font-style: normal;
  font-weight: 400;
  src: url('../../../fonts/aboreto-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  color: #222;
  font-family: 'Aboreto', serif;
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 400;
  font-weight: 600;
}
