.piano {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
  width: 100%;
  margin: 0 auto;
  flex: 1;
  &__container {
    background-color: #212529;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 2px solid #fff;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.6rem;
    overflow: hidden;
  }
  &__keys {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    overflow: hidden;
  }

  &__octave {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    font-size: 2rem;
  }

  &__key-white {
    display: flex;
    perspective: 800px;
    align-items: end;
    padding-bottom: 0.8rem;
    justify-content: center;
    background-color: #f1f3f5;
    height: 24rem;
    width: 5.8rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 0.05s ease-out;

    box-shadow: 0 0.8rem 1.2rem rgba(#212529, 0.1),
      inset -0.3rem -0.4rem 0.5rem rgba(#212529, 0.2),
      inset 0.3rem -0.4rem 0.5rem rgba(#212529, 0.2);

    &:hover {
      background-color: darken($color: #fff, $amount: 12%);
    }
    &:active {
      background-color: darken($color: #fff, $amount: 18%);
      transform-origin: center top;
      transform: rotateX(-8deg);
    }
  }

  &__key-black {
    @extend %key-black;
    padding-top: 0.2rem;
    &[data-key^='c'] {
      left: calc(
        (100% - 4px * 6) / 7 + 2px - 10 / 100 * (100% - 4px * 6) / 7 * 0.55
      );
    }
    &[data-key^='d'] {
      left: calc(
        ((100% - 4px * 6) / 7 * 2) + 4px + 2px + 10 / 100 * (100% - 4px * 6) / 7 *
          0.55
      );
    }
    &[data-key^='f'] {
      left: calc(
        ((100% - 4px * 6) / 7) * 4 + 2px + 4px * 3 - 18 / 100 * (100% - 4px * 6) /
          7 * 0.56
      );
    }
    &[data-key^='g'] {
      left: calc(((100% - 4px * 6) / 7) * 5 + 2px + 4px * 4);
    }
    &[data-key^='a'] {
      left: calc(
        ((100% - 4px * 6) / 7) * 6 + 2px + 4px * 5 + 18 / 100 * (100% - 4px * 6) /
          7 * 0.56
      );
    }
    &:hover {
      background-color: darken($color: #868e96, $amount: 32%);
    }
    &:active {
      transform-origin: top center;
      background-color: darken($color: #868e96, $amount: 36%);
      transform: rotateX(-12deg) translateX(-50%);
    }
  }
}
