.piano__scroller {
  height: 8rem;
  width: 100%;

  & .piano__keys {
    height: 100%;
    border-top: 2px solid #fff;
    pointer-events: none;
    width: 100%;
  }
  & .piano__key-name {
    display: none;
  }
  & .piano__octave {
    height: 100%;
    position: relative;

  }
  & .piano__octave-overlay {
    content: '';
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(300% + 0.6rem);
    background-color: #dee2e6;
    opacity: 0.2;
  }
    & .piano__octave-scroller {
    content: '';
    z-index: 999;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: calc(100% + 0.3rem );
    background-color: #212529;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    opacity: 0.42;
    transform-origin: center center;
    transform: scaleX(3);
  }
  & .piano__key-white {
    height: 100%;
    width: calc((100% - 4px * 6) / 7);
  }
  & .piano__key-black {
    width: calc((100% - 4px * 6) / 7 * 0.56);
  }
}
