.piano {
  &__settings {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #212529;
    border: 2px solid #fff;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.32);
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding-left: sizes(0.6rem, 3.6rem, 250px, 768px);
    padding-right: sizes(0.6rem, 3.6rem, 250px, 768px);
    font-family: 'Aboreto', sans-serif;
    font-weight: 400;
    @include resize(625px) {
      gap: 3rem;
    }
    @include resize(480px) {
      gap: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__current-key {
    font-size: sizes(1.8rem, 3.2rem, 200px, 1440px);
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    flex-wrap: nowrap;
    @include resize(768px) {
      column-gap: sizes(0.2rem, 1.6rem, 250px, 768px);
    }
  }
  &__current-key-value-input {
    background-color: transparent;
    border: 2px solid #fff;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 1.2rem;
    display: none;
    font-family: inherit;
    font-size: sizes(1.8rem, 3.2rem, 200px, 1440px);;
    color: #fff;
    text-align: center;
  }

  &__current-key-value-input:focus {
      outline: none;
  }
  &__current-key-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include resize(480px) {
      margin-left:  calc(45.6px / 5);
    }
  }
  &__current-key-overall-container {
    display: flex;
    align-items: center;
  }
  &__current-key-value-error {
    font-size: sizes(1.2rem, 1.6rem);
    display: none;
  }
  &__current-key-name {
    font-style: italic;

    margin-right: 1.2rem;
  }
  &__current-key-pair {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
  }
  &__edit-btn {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    height: sizes(2.4rem, 3rem);
    min-width: sizes(2.4rem, 3rem);
    transition: all 0.3s;
    background: url("../assets/icons/feather.svg") no-repeat center center;
    background-size: 100%;
    &:hover {
      background: url("../assets/icons/feather-active.svg") no-repeat center center;
      background-size: 100%;
      transform: translateY(-2px);
    }
    &:active {
      transform: translateY(2px);
    }
  }

  &__current-key-value-container {
    margin-right: sizes(1.4rem, 2.2rem);
    margin-left: 0.8rem;
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    // &.edit .piano__current-key-value{
    //   display: none;
    // }
    &.edit .piano__current-key-value-input {
      display: inline-block;
    }

    @include resize(915px) {
      &.edit .piano__current-key-value{
        display: none;
      }
    }
  }
  &__combination {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    position: relative;
    @include resize(480px) {
      order: -1;
      margin-bottom: 1.8rem;
    }
  }
  &__input {

    border-radius: 20rem;
    padding: 1.4rem 2.8rem;
    border: none;
    max-width: 32rem;
    width: 100%;
    background-color: #212529;
    border: 2px solid #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    font-family: inherit;
    color: #fff;
    font-size: sizes(1.2rem, 2rem);
    transition: all 0.4s;
    &:focus {
      outline: none;
    }
    &:hover {
      border-color: #ced4da;
    }
  }
  &__play-btn {
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: sizes(1.4rem, 2.2rem);
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      color: #ced4da;
    }

  }

  &__show-keys {
    display: flex;
    align-items: center;
    gap: 2.1rem;
    font-size: sizes(1.4rem, 2.2rem);
    @include resize(915px) {
      flex-direction: column;
      align-items: flex-end;
      gap: 0.9rem;
      transform: translateY(-6px);
    }
    @include resize(625px) {
      position: absolute;
      top: 1.7rem;
      left: 0;
      padding-left: sizes(0.6rem, 3.6rem, 250px, 768px);
      align-items: flex-start;
    }
    @include resize(480px) {
      position: static;
      padding-left: 0;
      order: -2;
      margin-bottom: 0.8rem;
      margin-left: calc(45.6px / 5);
    }
  }
  &__show-keys-switcher {
    width: sizes(3.2rem, 10.9rem, 768px, 1440px);
    position: relative;
    cursor: pointer;
    transition: all 0.4s;
    &:hover::before {
      background-color: #ced4da;
    }
    @include resize(625px) {
      margin-left: 0.8rem;
    }
  }
  &__show-keys-line {
    width: 100%;
    height: 1.6rem;
    background-color: #fff;
    height: 6px;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.3);
    @include resize(768px) {
      height: (4px, 6px, 625px, 768px);
    }
  }

  &__show-keys-text {
    transition: all 0.4s;
    white-space: nowrap;

  }

  &__show-keys-switcher:hover + &__show-keys-text {
    color: #ced4da;
  }
  &__show-keys-switcher::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    height: sizes(1.4rem, 1.8rem, 625px, 1440px);
    width: sizes(1.4rem, 1.8rem, 625px, 1440px);
    border-radius: 50%;
    background-color: #e9ecef;
  }
}
